{% extends 'base.html' %}
{% block title %} Home {% endblock %}
{% block content %}
<div class="row">
  <div class="col-sm-12 mb-3">
      <h4 class="text-center"> Welcome {{ user.socialaccount_set.all.0.extra_data.name }} </h4>
  </div>

  <div class="col-md-6 text-center">
    <img src="{{user.socialaccount_set.all.0.extra_data.picture.data.url}}" alt="" width="150" height="150" style="border-radius: 50%">
  </div>
  <div class="col-md-6 social-container my-2">
    <p> You're Signed in via {{ user.socialaccount_set.all.0.provider }} </p>
    <p> Your Name:  {{ user.socialaccount_set.all.0.extra_data.first_name }} </p>
  </div>
  <div class="container">
    <h6 class="text-center">QR Code</h6>
    <div class="col-md-3 offset-4">
      <img id='barcode'
           src="https://api.qrserver.com/v1/create-qr-code/?data='{{qr}}'"
           alt=""
           width="150" height="150"/>

    </div>

  </div>


  <div class="col-sm-12 mt-2 text-center">
    <button class="btn btn-danger">
      <a href="{% url 'logout' %}">Logout</a>
    </button>
  </div>

</div>
{% endblock %}